html {
  font-size: 16;
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: dimgray;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: dimgray;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 5px solid black;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: greenyellow;
  text-shadow: 3px 3px 2px black;
}

h2 {
  font-size: 24px;
  text-align: center;
  color: greenyellow;
  border: 1px solid greenyellow;
}

h3 {
  font-size: 16px;
  text-align: center;
  color: greenyellow;
  padding: 0;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: greenyellow;
}

a {
  font-size: 16px;
}

.done {
  color: blueviolet;
  text-decoration: line-through solid blueviolet 2px;
}